<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><b><fa-icon [icon]="faIdCard" class="me-2"></fa-icon>MOR demo</b></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link disabled"
            href="#"
            tabindex="-1"
            aria-disabled="true"
            ><small>DE4A WP3</small></a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row mt-4 mb-4">
    <!-- MOR Explicit Request (ER) -->
    <details open>
      <summary class="mb-3">MOR <b>Explicit Request</b> (ER)</summary>
      <div class="row">
        <div class="col-6">
          <app-input-parameters-mor-er-selector
            (defaultLanguageChange)="defaultLanguage = $event"
            (requesterCountryChange)="requesterCountryCode = $event"
            (canonicalEvidenceTypesChange)="canonicalEvidenceTypes = $event"
            (outputJSArrayIdChange)="outputJSArrayId = $event"
          ></app-input-parameters-mor-er-selector>
        </div>
        <div class="col-6">
          <app-source-code-mor-er-include
            [defaultLanguage]="defaultLanguage"
            [requesterCountryCode]="requesterCountryCode"
            [selectedCanonicalEvidenceTypes]="canonicalEvidenceTypes"
            [outputJSArrayId]="outputJSArrayId"
          ></app-source-code-mor-er-include>
        </div>
        <div class="col-12 mt-3">
          <div class="card border-secondary">
            <div class="card-header bg-secondary text-white">
              <div class="d-flex justify-content-between">
                <div><b>MOR Explicit Request (ER)</b></div>
              </div>
            </div>
            <div class="card-body">
              <app-mor-er
                [defaultLang]="defaultLanguage"
                [requesterCountryCode]="requesterCountryCode"
                [canonicalEvidenceTypes]="canonicalEvidenceTypes"
                [outputJSArrayId]="outputJSArrayId"
              ></app-mor-er>
            </div>
          </div>
        </div>
      </div>
    </details>
    <!-- MOR Preview -->
    <details open class="mt-4">
      <summary class="mb-3">MOR <b>Preview</b> (P)</summary>
      <div class="col-12">
        <div class="card border-secondary">
          <div class="card-header bg-secondary text-white">
            <div><b>MOR Preview (P)</b></div>
          </div>
          <div class="card-body pb-0">
            <app-mor-p [defaultLang]="defaultLanguage"></app-mor-p>
          </div>
        </div>
      </div>
    </details>
  </div>
</div>
