<div class="dropdown">
  <a
    class="btn btn-sm btn-light dropdown-toggle pointer"
    role="button"
    id="dropdownMenuRequesterCountry"
    data-bs-toggle="dropdown"
    aria-expanded="false"
    ><span *ngIf="countryCode"
      ><span
        class="me-2 flag-icon flag-icon-{{
          getCountryFlagCode(countryCode) | lowercase
        }}"
      ></span
      >{{ getCountryName(countryCode) }} <b>({{ countryCode }})</b></span
    ><span *ngIf="!countryCode" translate="gui.selectCountry"></span
  ></a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuRequesterCountry">
    <li *ngFor="let country of countries.getCountries()">
      <a
        class="dropdown-item pointer"
        [ngClass]="isCountryDisabled(country.code) ? 'disabled' : ''"
        (click)="setCountry(country.code)"
        ><span
          class="me-2 flag-icon flag-icon-{{
            getCountryFlagCode(country.code) | lowercase
          }}"
        ></span
        >{{ country.name }} <b>({{ country.code }})</b></a
      >
    </li>
  </ul>
</div>