<div class="dropdown">
  <a
    class="btn btn-sm btn-light dropdown-toggle pointer"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
    ><span *ngIf="dataLoader.countryCode[canonicalEvidenceType]"
      ><span
        class="flag"
        [style]="
          'background-image: url(' +
          flagURL +
          (dataLoader.getCountryFlagCode(canonicalEvidenceType) | lowercase) +
          '.svg)'
        "
        >&nbsp;</span
      >{{ dataLoader.getCountryName(canonicalEvidenceType) }}
      <b>({{ dataLoader.countryCode[canonicalEvidenceType] }})</b></span
    ><span
      *ngIf="!dataLoader.countryCode[canonicalEvidenceType]"
      translate="GUI/selectCountry.{{ dataLoader.selectedLanguage }}.label"
    ></span
  ></a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuRequesterCountry">
    <li *ngFor="let country of dataLoader.getCountries()">
      <a
        class="dropdown-item pointer"
        [ngClass]="dataLoader.isCountryDisabled(country.code) ? 'disabled' : ''"
        (click)="this.selectCountry(canonicalEvidenceType, country.code)"
        ><span
          class="flag"
          [style]="
            'background-image: url(' +
            flagURL +
            (dataLoader.getCountryFlagCode(canonicalEvidenceType, country.code)
              | lowercase) +
            '.svg)'
          "
          >&nbsp;</span
        >{{ country.name }} <b>({{ country.code }})</b></a
      >
    </li>
  </ul>
</div>
