<div class="position-relative">
  <div class="position-absolute top-0 start-0">
    <app-language-selector
      [(selectedLanguage)]="selectedLanguage"
      (click)="translate.use(selectedLanguage)"
    ></app-language-selector>
  </div>
</div>

<div class="d-flex justify-content-center mb-2" *ngIf="complete">
  <div class="row">
    <div class="text-center text-primary">
      <fa-icon class="me-1" [icon]="faCheckCircle"></fa-icon>
    </div>
    <div class="text-center text-primary" translate="GUI/complete.{{ selectedLanguage }}.label"></div>
  </div>
</div>

<!-- List of canonical evidences -->
<div class="mb-2" *ngIf="!complete">
  <div class="d-flex justify-content-center mb-3" *ngIf="!inputParametersOK()">
    <div class="row">
      <div class="text-center text-primary">
        <fa-icon class="me-1" [icon]="faExclamationTriangle"></fa-icon>
      </div>
      <div class="text-center text-primary" translate="GUI/provideInputP.{{ selectedLanguage }}.label"></div>
    </div>
  </div>
  <div
    class="row d-flex justify-content-center align-items-center"
    *ngFor="let evidenceType of getEvidenceTypes()"
  >
    <div class="col-6 text-end p-2">
      <button
        type="button"
        class="btn btn-sm btn-secondary normal"
        (click)="
          isEvidenceAvailable(evidenceType.tokenName)
            ? previewEvidence(evidenceType.tokenName)
            : undefined
        "
      >
        <fa-icon
          class="me-2 help"
          [icon]="
            isEvidenceAvailable(evidenceType.tokenName) ? faEye : faEyeSlash
          "
          data-bs-toggle="tooltip"
          data-bs-html="true"
        ></fa-icon
        >{{ evidenceType.morID + "." + selectedLanguage + ".label" | translate }}
      </button>
    </div>
    <div class="col-6 p-2">
      <div class="d-flex">
        <div class="small">
          <div class="row">
            <div class="col-12">
              <div class="form-check form-check-inline me-0 ms-1">
                <input
                  class="form-check-input"
                  type="radio"
                  [name]="'mor_p_radio_' + evidenceType.tokenName"
                  [id]="'mor_p_radio_' + evidenceType.tokenName + '_country'"
                  [checked]="
                    confirmSendStatus[evidenceType.tokenName || ''].include
                  "
                  (click)="
                    toggleConfirmSendStatus(evidenceType.tokenName || '')
                  "
                />
                <label
                  class="form-check-label pointer"
                  [for]="'mor_p_radio_' + evidenceType.tokenName + '_country'"
                >
                  <b translate="GUI/include.{{ selectedLanguage }}.label"></b>
                </label>
              </div>
              <span class="mx-2" translate="GUI/or.{{ selectedLanguage }}.label"></span>
              <div class="form-check form-check-inline me-0 ms-1">
                <input
                  class="form-check-input"
                  type="radio"
                  [name]="'mor_p_radio_' + evidenceType.tokenName"
                  [id]="'mor_p_radio_' + evidenceType.tokenName + '_upload_exclude'"
                  [checked]="
                    !confirmSendStatus[evidenceType.tokenName || ''].include
                  "
                  (click)="
                    toggleConfirmSendStatus(evidenceType.tokenName || '')
                  "
                />
                <label
                  class="form-check-label pointer"
                  [for]="'mor_p_radio_' + evidenceType.tokenName + '_country'"
                >
                  <b translate="GUI/exclude.{{ selectedLanguage }}.label"></b>
                </label>
              </div>
            </div>
            <div
              class="col-12"
              *ngIf="!confirmSendStatus[evidenceType.tokenName || ''].include"
            >
              <!--<div>
                <input
                  class="form-control form-control-sm"
                  type="file"
                  accept=".pdf, .jpg, .jpeg, .png"
                  (change)="
                    handleUpload(evidenceType.tokenName || '', $event.target)
                  "
                />
              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row p-2 mt-2" *ngIf="inputParametersOK() && previewConfirmed()">
    <div class="col-12 text-center">
      <button
        type="button"
        class="btn btn-sm btn-secondary"
        (click)="finishPreview()"
      >
        <fa-icon [icon]="faSignInAlt" class="me-1"></fa-icon
        ><b translate="GUI/proceed.{{ selectedLanguage }}.label"></b>
      </button>
    </div>
  </div>
</div>

<!-- Modal: Preview -->
<div
  class="modal fade"
  id="previewEvidenceModal"
  tabindex="-1"
  aria-labelledby="previewEvidenceModalLabel"
  aria-hidden="true"
>
  <div
    class="modal-dialog modal-dialog-centered"
    [ngClass]="showDescription ? 'modal-xl' : 'modal-lg'"
  >
    <div class="modal-content">
      <div class="modal-header">
        <div class="d-flex">
          <div>
            <h5 class="modal-title" id="previewEvidenceModalLabel">
              <span translate="GUI/Preview.{{ selectedLanguage }}.label" class="me-1"></span
              ><b class="me-1">{{ getEvidenceTypeNameForPreview() }}</b
              ><span translate="GUI/in.{{ selectedLanguage }}.label" class="me-1"></span>
            </h5>
          </div>
          <div>
            <app-language-selector
              [(selectedLanguage)]="selectedLanguage"
            ></app-language-selector>
          </div>
          <div class="ms-1">
            <h5
              class="pointer ms-1"
              (click)="showDescription = !showDescription"
            >
              <span *ngIf="showDescription"
                ><span translate="GUI/with.{{ selectedLanguage }}.label"></span
                ><small
                  ><fa-icon
                    class="ms-2 me-1"
                    [icon]="faEye"
                  ></fa-icon></small></span
              ><span *ngIf="!showDescription"
                ><span translate="GUI/without.{{ selectedLanguage }}.label"></span><small
                  ><fa-icon
                    class="ms-2 me-1"
                    [icon]="faEyeSlash"
                  ></fa-icon></small
              ></span>
              <span translate="GUI/descriptions.{{ selectedLanguage }}.label" class="ms-1"></span>
            </h5>
          </div>
        </div>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <app-preview-xml
          [lang]="selectedLanguage"
          [showDescriptions]="showDescription"
          [xmlInput]="getEvidenceTypeContentForPreview()"
        ></app-preview-xml>
      </div>
    </div>
  </div>
</div>
