<div class="card h-100">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <div>
        <fa-icon [icon]="faSignInAlt"></fa-icon><b>Input parameters</b> of the
        <b>MOR-P</b> component
      </div>
      <div class="link" (click)="isDisplayed = !isDisplayed">
        <small class="text-muted"
          ><fa-icon [icon]="isDisplayed ? faEyeSlash : faEye"></fa-icon
        ></small>
      </div>
    </div>
  </div>
  <div class="card-body" *ngIf="isDisplayed">
    <h5 class="card-title">Default language</h5>
    <div class="dropdown mb-3">
      <app-language-selector
        [(selectedLanguage)]="defaultLanguage"
        (click)="updateDefaultLanguage()"
      ></app-language-selector>
    </div>
    <h5 class="card-title">Post action value</h5>
    <textarea
      class="form-control"
      rows="5"
      [(ngModel)]="postActionValue"
      (input)="updatepostActionValue()"
    ></textarea>
  </div>
  <div class="card-footer text-muted" *ngIf="isDisplayed">
    <small
      ><fa-icon [icon]="faExclamationCircle"></fa-icon>Defined at a level of the
      specific procedure at Data Evaluator.</small
    >
  </div>
</div>
