<div class="dropdown">
  <a
    class="btn btn-sm btn-light dropdown-toggle"
    href="#"
    role="button"
    id="dropdownMenuLanguage"
    data-bs-toggle="dropdown"
    aria-expanded="false"
    ><span *ngIf="selectedLanguage"
      ><span
        class="me-2 flag-icon flag-icon-{{
          getLanguageFlagCode(selectedLanguage) | lowercase
        }}"
      ></span
      >{{ getLanguageName(selectedLanguage) }}
      <b>({{ selectedLanguage }})</b></span
    ><span *ngIf="!selectedLanguage">Select language</span></a
  >
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLanguage">
    <li *ngFor="let language of getLanguages()">
      <a class="dropdown-item pointer" (click)="setLanguage(language.code)">
        <span
          class="me-2 flag-icon flag-icon-{{ language.flagCode | lowercase }}"
        ></span
        >{{ language.name }} <b>({{ language.code }})</b></a
      >
    </li>
  </ul>
</div>
