// Import Bootstrap
de4a-mor-er, de4a-mor-p {
  @import "../node_modules/bootstrap/scss/bootstrap.scss";

  // Variables
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg: #fff;
  --bs-body-text-align: left;
  --bs-modal-header-padding: 1rem 1rem;
  --bs-modal-header-border-width: 1px;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-modal-header-border-color: var(--bs-border-color);
  --bs-modal-inner-border-radius: calc(0.5rem - 1px);
  --bs-modal-color: ;
  --bs-modal-bg: #fff;
  --bs-modal-border-width: 1px;
  --bs-modal-border-color: var(--bs-border-color-translucent);
  --bs-modal-border-radius: 0.5rem;
  --bs-modal-padding: 1rem;

  // Body
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  // Modal
  .modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: var(--bs-modal-header-padding);
    border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color);
    border-top-left-radius: var(--bs-modal-inner-border-radius);
    border-top-right-radius: var(--bs-modal-inner-border-radius);
  }

  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bs-modal-color);
    pointer-events: auto;
    background-color: var(--bs-modal-bg);
    background-clip: padding-box;
    border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
    border-radius: var(--bs-modal-border-radius);
    outline: 0;
  }

  .modal-body {
    position: relative;
    flex: 1 1 auto;
    padding: var(--bs-modal-padding);
  }

  // Customization
  .dropdown-menu {
    max-height: 200px;
    overflow-y: scroll;
  }
  .pointer {
    cursor: pointer;
  }
  .flag {
    margin-right: 8px;
    max-height: 14px;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em;
  }
  .form-check {
    text-align: left;
  }
  .modal-body {
    text-align: left;
  }
  .modal-header, .modal-footer {
    background-color:rgb(248,249,250);
  }
  .de4a-schema-values {
    color:rgb(13,110,253) !important;
    padding: 3px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    background-color:rgb(238, 249, 250) !important;
    border-radius: 6px;
  }
  .text-primary {
    color: rgb(13,110,253) !important;
  }
}

// Modal backdrop
.modal-backdrop {
  --bs-backdrop-zindex: 1050;
  --bs-backdrop-bg: #000;
  --bs-backdrop-opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--bs-backdrop-zindex);
  width: 100vw;
  height: 100vh;
  background-color: var(--bs-backdrop-bg);
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: var(--bs-backdrop-opacity);
}

/**
  * Customization
  */
/*de4a-mor-er {
  color:darkred;
}
.de4a-button-evidence, .de4a-button-choice-dark {
  background-color: lightcoral !important;
  border-color: lightcoral !important;
  color:white !important;
}
.de4a-button-evidence:hover, .de4a-button-choice-dark:hover {
  background-color: darkred !important;
  border-color: darkred !important;
  color: white !important;
}
.de4a-button-choice-light {

}
.de4a-button-choice-light:hover {
  background-color: lightcoral !important;
  border-color: lightcoral !important;
  color:white !important;
}
.de4a-schema-comment {
  color:lightcoral !important;
}*/
/**
 * TO-DO
 */
/*.de4a-button-country,
.dropdown > a {
  background-color: lightgreen;
}
.dropdown > a:hover, .dropdown > a:focus-within {
  background-color: green !important;
}
.dropdown ul li a {
  background-color: lightcyan;
}
.dropdown ul li a:hover {
  background-color: cyan;
}*/