<div class="dropdown">
  <a
    class="btn btn-sm btn-light dropdown-toggle de4a-dropdown-menu"
    href="#"
    role="button"
    id="dropdownMenuLanguage"
    data-bs-toggle="dropdown"
    aria-expanded="false"
    ><span *ngIf="dataLoader.selectedLanguage"
      ><span
        class="flag"
        [style]="
          'background-image: url(' +
          flagURL +
          (dataLoader.getLanguageFlagCode() | lowercase) +
          '.svg)'
        "
        >&nbsp;</span
      >{{ dataLoader.getLanguageName() }}
      <b>({{ dataLoader.selectedLanguage }})</b></span
    ><span *ngIf="!dataLoader.selectedLanguage">Select language</span></a
  >
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLanguage">
    <li *ngFor="let language of dataLoader.getLanguages()">
      <a
        class="dropdown-item pointer de4a-dropdown-item"
        (click)="dataLoader.setLanguage(language.code)"
      >
        <span
          class="flag"
          [style]="
            'background-image: url(' +
            flagURL +
            (language.flagCode | lowercase) +
            '.svg)'
          "
          >&nbsp;</span
        >{{ language.name }} <b>({{ language.code }})</b></a
      >
    </li>
  </ul>
</div>
