<div class="dropdown">
  <a
    class="btn btn-sm btn-light dropdown-toggle"
    href="#"
    role="button"
    id="dropdownEvidenceTypes"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    <span
      ><span *ngFor="let type of getSelectedTypes(); index as i">
        <span *ngIf="i > 0">, </span>{{ type }}</span
      ></span
    ><span *ngIf="getSelectedTypes().length == 0 || !getSelectedTypes()"
      >Select canonical evidence type</span
    ></a
  >
  <ul class="dropdown-menu" aria-labelledby="dropdownEvidenceTypes">
    <li *ngFor="let type of loader.getCanonicalEvidenceTypes()">
      <a class="dropdown-item" (click)="toggleType(type.tokenName)" href="#">
        <fa-icon
          [icon]="faPlus"
          [hidden]="isTypeSelected(type.tokenName)"
        ></fa-icon
        ><fa-icon
          [icon]="faMinus"
          [hidden]="
            !isTypeSelected(type.tokenName)
          "
        ></fa-icon
        >{{ type.name }} <b>({{ type.tokenName }})</b></a
      >
    </li>
  </ul>
</div>
